Source: libkf5pimcommon
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               kdesignerplugin (>= 5.35.0~),
               libgrantlee5-dev (>= 5.1~),
               libkf5akonadi-dev (>= 4:17.08.3~),
               libkf5akonadicontact-dev (>= 4:17.08.3~),
               libkf5akonadimime-dev (>= 4:17.08.3~),
               libkf5archive-dev (>= 5.35.0~),
               libkf5codecs-dev (>= 5.35.0~),
               libkf5completion-dev (>= 5.35.0~),
               libkf5config-dev (>= 5.35.0~),
               libkf5configwidgets-dev (>= 5.35.0~),
               libkf5contacteditor-dev (>= 17.08~),
               libkf5contacts-dev (>= 4:17.08.3~),
               libkf5coreaddons-dev (>= 5.35.0~),
               libkf5dbusaddons-dev (>= 5.35.0~),
               libkf5i18n-dev (>= 5.35.0~),
               libkf5iconthemes-dev (>= 5.35.0~),
               libkf5imap-dev (>= 17.08.3~),
               libkf5itemmodels-dev (>= 5.35.0~),
               libkf5itemviews-dev (>= 5.35.0~),
               libkf5jobwidgets-dev (>= 5.35.0~),
               libkf5kdelibs4support-dev (>= 5.19.0~),
               libkf5kio-dev (>= 5.35.0~),
               libkf5libkdepim-dev (>= 4:17.08.3~),
               libkf5mime-dev (>= 17.08.3~),
               libkf5newstuff-dev (>= 5.35.0~),
               libkf5pimtextedit-dev (>= 17.08.3~),
               libkf5service-dev (>= 5.35.0~),
               libkf5sonnet-dev (>= 5.19.0~),
               libkf5textwidgets-dev (>= 5.19.0~),
               libkf5wallet-dev (>= 5.35.0~),
               libkf5widgetsaddons-dev (>= 5.35.0~),
               libkf5windowsystem-dev (>= 5.35.0~),
               libkf5xmlgui-dev (>= 5.35.0~),
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.7.0~),
               qtscript5-dev (>= 5.4.0~),
               qttools5-dev (>= 5.4.0~),
               xsltproc,
Standards-Version: 4.1.2
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/pimcommon.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/pimcommon.git

Package: libkf5pimcommon-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Breaks: storageservicemanager (<= 4:16.04), ${kde-l10n:all}
Replaces: storageservicemanager (<= 4:16.04), ${kde-l10n:all}
Description: Common library for KDE PIM - data files
 This library provides the common parts used across different KDE PIM
 components.
 .
 This package provides the data files used by the library.

Package: libkf5pimcommon-dev
Section: libdevel
Architecture: any
Depends: libkf5akonadi-dev (>= 4:17.08.3~),
         libkf5akonadicontact-dev (>= 4:17.08.3~),
         libkf5config-dev (>= 5.35.0~),
         libkf5contacts-dev (>= 4:17.08.3~),
         libkf5imap-dev (>= 17.08.3~),
         libkf5pimcommon5 (= ${binary:Version}),
         libkf5pimcommonakonadi5 (= ${binary:Version}),
         libkf5pimtextedit-dev (>= 17.08.3~),
         libkf5textwidgets-dev (>= 5.19.0~),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Common library for KDE PIM - devel files
 This library provides the common parts used across different KDE PIM
 components.
 .
 This package provides the development files.
Breaks: libkf5kaddressbookgrantlee-dev (<< 4:17.08),
        libkf5ksieve-dev (<< 4:17.08),

Package: libkf5pimcommon-plugins
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: akregator (<< 4:17.08),
        blogilo (<< 4:17.08),
        kaddressbook (<< 4:17.08),
        kalarm (<< 4:17.08),
        kdepim-addons (<< 17.08),
        kdepim-themeeditors (<< 4:17.08),
        kmail (<< 4:17.08),
        knotes (<< 4:17.08),
        korganizer (<< 4:17.08),
        libkf5calendarsupport5 (<< 4:17.08),
        libkf5gravatar5 (<< 4:17.08),
        libkf5kaddressbookgrantlee5 (<< 4:17.08),
        libkf5ksieveui5 (<< 4:17.08),
        libkf5libkdepim5 (<= 4:16.04),
        libkf5messagecomposer5 (<< 4:17.08),
        libkf5messagelist5 (<< 4:17.08),
        libkf5messageviewer5 (<< 4:17.08),
Replaces: libkf5libkdepim5 (<= 4:16.04)
Description: Common library for KDE PIM - plugins
 This library provides the common parts used across different KDE PIM
 components.
 .
 This package provides the plugins distributed with the library.

Package: libkf5pimcommon5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Common library for KDE PIM
 This library provides the common parts used across different KDE PIM
 components.
 .
 This package provides the shared libraries.
Breaks: akregator (<< 4:17.08),
        blogilo (<< 4:17.08),
        kaddressbook (<< 4:17.08),
        kalarm (<< 4:17.08),
        kdepim-addons (<< 17.08),
        kdepim-themeeditors (<< 4:17.08),
        kmail (<< 4:17.08),
        knotes (<< 4:17.08),
        korganizer (<< 4:17.08),
        libkf5calendarsupport5 (<< 4:17.08),
        libkf5gravatar5 (<< 4:17.08),
        libkf5kaddressbookgrantlee5 (<< 4:17.08),
        libkf5ksieveui5 (<< 4:17.08),
        libkf5messagecomposer5 (<< 4:17.08),
        libkf5messagelist5 (<< 4:17.08),
        libkf5messageviewer5 (<< 4:17.08),

Package: libkf5pimcommonakonadi5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Common library for KDE PIM Akonadi
 This library provides the common parts used across different KDE PIM Akonadi
 components.
 .
 This package provides the shared libraries.
